/*--General Style --*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }


body {
font-family: Arial, sans-serif;
background-color: white;
color: black;
line-height: 1.6;
}

/* --Header and navigstion --*/
header {
display: flex;
justify-content: space-between;
align-items:center;
padding: 25px 10px;
background-color: rgb(252, 249, 249);
position:static;
}

/* -- Logo -- */
.logo {
display: flex;
align-items:center;
gap: 10px;
}

.logo img {
width: 60px;
height: 55px;
border-radius: 65%;
border-style:solid;
border-color: #4f5372;

}

.logo h1 {
color: #061c34;
font-size: 22px;
font-family: 'Times New Roman', Times, serif;
transition: color 0.3s, transform 0.3s;
}

.logo h1:hover {
color: #007bff;
transform: scale(1.1);
cursor: pointer;
}

/* --- Navigation Links --- */
nav ul {
list-style: none;
display: flex;
gap: 10px;
}

nav ul li a {
text-decoration: none;
color: #061c34;
font-weight: bold;
font-size: 16px;
transition: color 0.3s;
}

nav ul li a:hover
  {
color: #ff0000;

}

nav ul li a.active{
  color:blue;
}

/* --- Mobile Menu --- */
.menu-toggle {
display: none;
flex-direction:column;
cursor: pointer;
position: absolute;
top: 10px;
right: 10px;
}

.menu-toggle span {
height: 2px;
width: 15px;
background: #061c34;
margin: 1px 0px;
transition: 0.3s;
}

/* --- Responsive Menu --- */
@media (max-width: 768px) {
nav ul {
flex-direction: column;
width: 100%;
background-color: #ffffff;
text-align: center;
display: none;
border-top: 1px solid #ddd;
}

nav ul.active {
display: flex;
}

.menu-toggle {
display: flex;
}

nav ul li {
padding: 2px 1px 2px 1px;



}

nav ul li a {
font-size: 12px;
}
}

/* -- Home Section--*/
#home {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
padding: 30px 10px;
}

img.profile {
width: 500px;
height: 500px;
object-fit: cover;
}

.bio {
max-width: 500px;
}

.bio h2 {
color: rgb(31, 83, 129);
font-style: italic;
margin-bottom: 20px;
}

.bio h2:hover {
color: red;
transform: scale(1.1);
cursor: pointer;
}

/* --About Section */
#about {
text-align:justify;
font-family: 'Times New Roman', Times, serif;
color: #3c3c57;
 background-color: #f9f9f9;       
  border: 2px solid #d3d9df;       
  border-radius: 30px;             
  padding: 20px;                  
  width: 260px; 
  height: 230px; ;
  margin: 20px auto;               
  box-shadow: 0 4px 10px rgba(122, 115, 115, 0.1); 

}
.heading {
  color: #2a70cd;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 1%;

}


/* --Project Section-- */
#projects {
text-align: center;
padding: 60px 30px;
background-color: white;
}

#projects h2 {
color:#2a70cd;
font-size: 26px;
margin-bottom: 20px;
font-style: italic;
font-family:sans-serif
}

.project {
background-color: white;
max-width: 500px;
margin: 20px auto;
padding: 10px;
border: 1px solid #3b4bb6;
border-radius: 20px;
text-align: center;
text-align: justify;
margin-bottom: 30px;
border-left-width: 3px;
}

.project h3 {
color: #33ae7b;
font-style: italic;
text-align: center;
}

.project p {
color: #155b93;
margin-top: 1px;
font-family: 'Times New Roman', Times, serif;
font-size:110%;

}

/* --- Buttons --- */
.btn-project {
display: inline-block;
background-color: #007bff;
color: white;
text-decoration: none;
padding: 10px 20px;
border-radius: 6px;
margin-top: 20px;
font-weight: bold;
transition: background-color 0.3s, transform 0.2s;
}

.btn-project:hover {
background-color: #0056b3;
transform: scale(1.05);
}

/* --Contact Section-- */
#contact {
text-align: center;
padding: 60px 20px;
}

#contact h2 {
margin-bottom: 20px;
font-size: 2em;
color: #0d2572;
}

/* --- Social Icons --- */
.contact-icons {
display: flex;
justify-content: center;
gap: 8px;
margin-bottom: 15px;
}

.contact-icons .icon {
display: flex;
justify-content: center;
align-items: center;
width: 35px;
height: 35px;
border-radius: 50%;
font-size: 24px;
color:white;
text-decoration: none;
transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.icon.instagram { background: #E4405F; }
.icon.telegram { background: #0088cc; }
.icon.email { background: #34A853; }
.icon.github {background:  #24292e;}

.icon:hover {
transform: scale(1.15);
box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* --- Contact Details --- */
.phone a {
color: #1f201f;
text-decoration: none;
font-weight: bold;
}

.phone a:hover {
color: #14e352;
text-decoration: underline;
}

.contact-item {
margin-top: 10px;
color: #1f201f;
}

.contact-item a {
color: #0d2572;
text-decoration: none;
}

.contact-item a:hover {
text-decoration: underline;
}

/* --Footer--*/
#footer {
text-align: center;

color: #333;
background-color: #f9f9f9;
font-size: 14px;
}
